<div class="container">
  <h3><%= @user.username %>'s cocktails</h3>
  <% if @cocktails.any? %>
    <div>
      <% @cocktails.each do |cocktail| %>
        <div style="padding: 10px 10px;"><%= link_to cocktail.name, cocktail_path(cocktail) %>
          <% if cocktail.ingredients.any? %>
            <ul>
              <% cocktail.ingredients.each do  |i| %>
                <li><%= i.name %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
